@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<h1>Hello @Umbraco.Field("siteTitle", altFieldAlias: "siteLogo", altText: "user", recursive: true, insertBefore: "Hello ", insertAfter: "!")</h1>
	@(Model.Content.GetPropertyValue("siteTitle"))
@(Model.Content.GetPropertyValue<double>("amount"))
	
@{
	var selection = CurrentPage.Site().Children.Where("Visible && Name.Contains(@0)","t");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

